<div class="row justify-content-left mx-auto container ">
  <div class="login-card mb-6 mb-r" >
    <div>
      <h1>{{title}}</h1>
    </div>
    <div>
      <h4>{{user_body}}</h4>
    </div>
    <div>
      <p>{{messageuser.user}}</p>
    </div>
   </div>
</div>
