<div class="row justify-content-left mx-auto container ">
  <div class="past-posts mb-6 mb-r" >
    <div>
      <h1>{{title}}</h1>
    </div>
    <div>
      <h4>{{user_body}}</h4>
    </div>
    <div>
      <a href='/post/{{id}}'>Edit</a>
    </div>
   </div>
</div>
