<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title>Tech Blog</title>
</head>
<body>

  {{!-- Setting up header colors and title --}}
  <nav class="navbar bg-body-tertiary">
    {{!-- Setting up Navigation Bar --}}
    <div class="collapse navbar-collapse d-flex justify-content-start">
      <a href="/">Home</a>
      <a href="/">Dashboard</a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login" >Login</a>
      {{/if}}
    </div>
    <div class="container-fluid">
      <span id="brand" class="navbar-brand mb-0 h1">
        The Tech Blog
      </span>
    </div>
  </nav>
  

  {{!-- Setting up body of handlebars pages --}}
  <main>
    <div class="justify-content-center mx-auto rate">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
    <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>