{{#each messages as |message|}}
<div class="row justify-content-center mx-auto container ">
  <div class="login-card mb-3 mb-r" >
    <h2 class="page-title">Post Title</h2>
    <form class="post-form">
      <div class="form-group">
        <input class="form-input" type="text" id="post-title" value="{{title}}" />
      </div>
      <div class="form-group">
        <label for="post-message">Message for post</label> <label id={{id}} class="post-id">{{id}}</label>
      </div>
      <div class="form-group">
        <textarea class="form-input" type="text" rows ="6" cols="70" id="post-message" >{{user_body}}</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit Edit</button>
      </div>
    </form>
  </div>
</div>
{{/each}}
<script src="/js/edit.js"></script>