.navbar {
  background:  rgb(44, 5, 5) 21%;
  font-size: 75px; 
  color: white; 
  margin-top:25px;
}

.navbar-brand {
  background:  white;
  font-size: 60px; 
  color: rgb(44, 5, 5); 
  margin-top:25px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
}

.navbar-collapse {
  font-size: 25px; 
  color: white; 
  margin-right:20px;
  margin-left:20px;
}

.container{
  background:  rgb(44, 5, 5) 21%;
  color: white; 
  margin-top:25px;
}

a {
  color:  white;
  margin-left:20px;
}